# Node
node_modules/
dist/
.next/
out/
coverage/
playwright-report/
test-results/

# Go
bin/
tmp/
*.exe
*.out
main

# Next.js
frontend/next-env.d.ts

# Env
.env

# Docker
*.log
.env.local

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Windows
Thumbs.db
